.works {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
      cursor: pointer;
    }

    &.right {
      right: 100px;
      cursor: pointer;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: 1s all ease-in-out;

    .container {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          height: 80%;
          justify-content: center;
          align-items: center;
          display: flex;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(255, 179, 155);
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 25px;
              }

              h2 {
                font-size: 20px;
              }

              p {
                font-size: 13px;
              }

              span {
                font-size: 12px;
                font-weight: 700;
                cursor: pointer;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
